#app-header{
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  height: 70px;
}

#conteudo{
  padding-top: 30px;
  padding-bottom: 30px;
}



.btn-primary {
  background: #3f51b5;
}


.btn-primary:hover {
  background: #314091;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}




html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}

#app-footer{
  position: absolute;
  background: #3f51b5;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #fff;

  /* Valor Fixo do Footer, tem que ser o mesmo do botton no body */
  height: 50px;
  line-height: 50px; 

}

#copyright{  
  text-align: center;
  font-weight : bold;


}


#modalLogin .modal-dialog {
  -webkit-transform: translate(0,-40%);
  -o-transform: translate(0,-40%);
  transform: translate(0,-40%);
  top: 40%;
  margin: 0 auto;
}




.table .thead-dark th {
color: #fff;
background-color:#3f51b5;
border-color:  #3f51b5;
}

table.table-hover tbody tr:hover {
  background-color: #cae4ff; 
  cursor: pointer;
}
















.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  
}


